// Libs
import React from 'react';
// import PropTypes from 'prop-types';

// Utils

// Components

// Component
const {{pascalCase name}} = () => {
    return <div className='{{dashCase name}}'>
    </div>;
};

// Props
{{pascalCase name}}.defaultProps = {
};

// const { } = PropTypes;

{{pascalCase name}}.propTypes = {
};

export default {{pascalCase name}};